@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
body,
button {
  font-family: "Roboto Mono", monospace;
}
body {
  margin: 0;
  background-color: black;
}

#title {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: white;
  font-size: 2em;
}

#calculator-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35vw;
  height: 60vh;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

#display {
  display: flex;
  justify-content: end;
  align-items: end;

  height: 15vh;
  padding: 5px 20px 5px 5px;
  box-sizing: border-box;

  background-color: #212121;
  color: white;
  font-size: 7vh;
  border-radius: 10px;
}

#main {
  flex-grow: 1;

  display: flex;
  gap: 10px;
}

#left,
#right {
  flex-basis: 0;
  flex-grow: 0.2;

  display: flex;
  flex-direction: column;
}

#left {
  gap: 10px;
}

#middle {
  flex-basis: 0;
  flex-grow: 0.6;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* MIDDLE DIVS */
#memory,
#misc {
  flex-grow: 0.2;
  display: flex;
  gap: 10px;
}

#nums {
  flex-grow: 0.6;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/*3 rows of divs*/
#nums div {
  flex-grow: 1;
  display: flex;
  gap: 10px;
}

/* RIGHT */
.normal-size {
  flex-grow: 0.2;
}
#plus-size {
  flex-grow: 0.4;
}

#right {
  gap: 10px;
}

/* ALL */
button {
  flex-basis: 0;
  min-height: 0;
  flex-grow: 1;

  color: white;
  font-size: 2em;
  margin: 0px;
  border-radius: 30px;
  border: solid black 0px;
  padding: 0;
}

/*BUTTON STYLING*/

button:hover {
  filter: brightness(150%);
}

button:active {
  filter: brightness(200%);
}

#nums button,
.num,
#decimal-point {
  background-color: #333333;
}

#right button {
  background-color: #de0768;
}

#memory button {
  background-color: #a5a5a5;
  color: black;
}

#percent,
#negation,
#clear-entry,
#all-clear {
  background-color: #212121;
}

#equals {
  background-color: #212121;
  color: white;
}

#expression {
  color: rgb(206, 206, 206);
  position: absolute;
  overflow: visible;
  width: 500px;
  height: 20px;
  left: 100%;
  top: 3%;
  padding: 5px 30px 5px 5px;

  font-size: 1.25em;

  display: flex;
  justify-content: end;
  align-items: center;
  transform: translate(-100%);
}

@media only screen and (max-width: 1024px) {
  #title {
    top: 15%;
  }

  #calculator-body {
    width: 95vw;
    height: 50vh;
  }

  #display {
    font-size: 6.5vh;
  }

  #main {
    gap: 10px;
  }

  button {
    border-radius: 20px;
  }
}
:root {
  touch-action: pan-x pan-y;
  height: 100%;
}
